extends layout

block content
  h1 #{title} #{genre.name}

  div(class='delete-prompt')
    if genre_games.length
      p Delete the following games before attempting to delete this genre.
      div(class='game-list')
        each game in genre_games
          div(class='game')
            a(href=game.url)
              div(class='game-poster-container')
                if game.posterId
                  img(class='game-poster' src='/uploads/' + game.posterId alt=game.title)
                else
                  div(class='game-poster-empty')
                    span #{game.title}
            div(class='game-info')
                div(class='game-info-title')
                  a(href=game.url) #{game.title}
                div(class='game-info-publisher')
                  a(href=game.publisher.url) #{game.publisher.name}
    else
      div(class='form')
        p Do you really want to delete this Genre?
        form(method='POST' action='')
          div.form-group
            input#genreid(type='hidden' name='genreid' required value=genre._id)
          div.form-group
              label(for='admin-password') Admin Password: 
              input#admin-password.input-block(type='password' name='admin-password' required)

          if errors
            ul(class='errors')
              for error in errors
                li!= error.msg

          button(class='btn user-btn form-btn' type='submit') Delete