extends layout

block content
  section(class='home-section')
    div(class='site-stats-container')
      h1 Site Stats
      div(class='site-stats')
        ul(class='site-stats-list')
          li
            span Games: 
            .
              !{data.game_count}
          li
            span Publishers: 
            .
              !{data.publisher_count}
          li
            span Genres: 
            .
              !{data.genre_count}
          li
            span Platforms: 
            .
              !{data.platform_count}

    div(class='featured-container')
      h1 Featured Games
      div(class='featured')
        each game in featured_games
          div(class='game')
            a(href=game.url)
              div(class='game-poster-container')
                if game.posterId
                  img(class='game-poster' src='uploads/' + game.posterId alt=game.title)
                else
                  div(class='game-poster-empty')
                    span #{game.title}
            div(class='game-info')
              div(class='game-info-title')
                a(href=game.url) #{game.title}
              div(class='game-info-publisher')
                a(href=game.publisher.url) #{game.publisher.name}
        button(class='btn view-all-games-btn')
          a(href='catalog/games') View All

  section(class='user-btns-container')
    button(class='btn user-btn')
      a(href='catalog/game/create') Create Game
    button(class='btn user-btn')
      a(href='catalog/publisher/create') Create Publisher
    button(class='btn user-btn')
      a(href='catalog/genre/create') Create Genre
    button(class='btn user-btn')
      a(href='catalog/platform/create') Create Platform