extends layout

block content
  section(class='home-section')
    div(class='site-stats-container')
      h1 Site Stats
      div(class='site-stats')
        ul(class='site-stats-list')
          li
            span Games: 
            .
              !{data.game_count}
          li
            span Publishers: 
            .
              !{data.publisher_count}
          li
            span Genres: 
            .
              !{data.genre_count}
          li
            span Platforms: 
            .
              !{data.platform_count}

    div(class='featured-container')
      h1 Featured Games
      div(class='featured')
        for featured_game in featured_games
          a(href='catalog/game/' + featured_game._id)
            div(class='featured-game-container')
              if featured_game.posterId
                img(class='featured-game' src='/uploads/' + featured_game.posterId alt=featured_game.title)
              else
                div(class='featured-game-empty')
                  span #{featured_game.title}
        button(class='view-all-games-btn')
          a(href='catalog/games') View All