extends layout

block content
  h1 #{title}

  div(style='margin-left: 20px; margin-top: 20px')

  h3 Games

  dl
    each game in platform_games
      dt
        a(href=game.url) #{game.title}
      dd #{game.description}

    else
      p Empty

  hr
  p
    a(href=platform.url+'/delete') Delete platform
  p
    a(href=platform.url+'/update') Update platform