extends layout

block content
  h1= title

  p(class='details') #{publisher.description}

  div(class='game-list')
    each game in publisher_games
      div(class='game')
        a(href=game.url)
          div(class='game-poster-container')
            if game.posterId
              img(class='game-poster' src='/uploads/' + game.posterId alt=game.title)
            else
              div(class='game-poster-empty')
                span #{game.title}
        div(class='game-info')
            div(class='game-info-title')
              a(href=game.url) #{game.title}
            div(class='game-info-publisher')
              a(href=publisher.url) #{publisher.name}
    else
      span No games

  section(class='user-btns-container')
    button(class='btn user-btn')
      a(href=publisher.url + '/update') Update
    button(class='btn user-btn')
      a(href=publisher.url + '/delete') Delete