extends layout

block content
  h1 #{title} #{publisher.name}

  div(class='delete-prompt')
    if publisher_games.length
      p Delete the following games before attempting to delete this publisher.
      div(class='game-list')
        each game in publisher_games
          div(class='game')
            a(href=game.url)
              div(class='game-poster-container')
                if game.posterId
                  img(class='game-poster' src='/uploads/' + game.posterId alt=game.title)
                else
                  div(class='game-poster-empty')
                    span #{game.title}
            div(class='game-info')
                div(class='game-info-title')
                  a(href=game.url) #{game.title}
                div(class='game-info-publisher')
                  a(href=publisher.url) #{publisher.name}
    else
        p Do you really want to delete this Publisher?

        form(method='POST' action='')
          div.form-group
          input#publisherid.form-control(type='hidden' name='publisherid' required value=publisher._id)
          div.form-group
              label(for='admin-password') Admin Password: 
              input#admin-password.form-control(type='password' name='admin-password' required)

          if errors
            ul(class='errors')
              for error in errors
                li!= error.msg

          button(class='btn user-btn' type='submit') Delete